body{
    margin: 0px;
    padding: 0px;
   background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url(packages-images/body-background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   
}
*{
  margin: 0px;
  padding: 0px;
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.dropdown-hover:hover>.dropdown-menu-hover {
  display: block;
}

.dropdown-hover>.dropdown-toggle:active {
  /* Without this, clicking will make it sticky */
  pointer-events: none;
}
#dropdownMenuButton{
  background: transparent;
  text-decoration: none;
  border: none;
  font-weight: 400;
  margin-top: -5px;
  margin-left: 20px;
}
.dropdown-item{
  background-color: #000;
}
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  background-color: #021959;
  
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }
  .dropdown-menu a{
      /* margin-right: 50px; */
      margin-left: 100px;
  }
  #trans h1{
      text-align: center;
      color: #000;
      font-size:80px;
  }
body{
  height: 200vh; 
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background-color: #000;
  border-radius: 1px;
  border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb:hover{
  background: #021959;
}
.top-nav{
  display: flex;
  justify-content: space-between;
  background-color: #021959;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.contact p{
  margin-left: 50px;
  font-size: 13px;
  font-weight: 400;
}
.social-links{
  margin-right: 50px;
}
.social-links i{
  font-size: 14px;
  margin-right: 20px;
}
#nav{
  background-color: rgba(2, 25, 89, 0.555);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main-body{
  position: relative;
  top: -150px;
  z-index: -2;
}
.logo h1{
  color: #fff;
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 60px;
  width: 60px;
  margin-top: -10px;
}
.body{
  background-image: url(Assets/body-bg.png);
  width: 1349px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.nav a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-left: 50px;
  font-weight: 500;
}
.nav{
  margin-right: 170px;
}
.search-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-bar {
  width: 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: width 0.5s;
  opacity: 0;
}

.search-bar.open {
  width: 200px; 
  opacity: 1;
}

.search-icon {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}
.search-icon i {
  font-size: 24px;
}
#suggestions {
        border: 1px solid #ccc;
        display: none;
        position: absolute;
        top: 3rem;
        background: white;
        z-index: 1000;
        margin-right: 2rem;
      
       
       width: 200px;
       height: auto;
    }
    .suggestion {
        padding: 10px;
        cursor: pointer;
    }
    .suggestion:hover {
        background: #f0f0f0;
    }
#head{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),   url('packages-images/background.jpg');
    height: 400px;
    width: 100%;
	opacity: 90%;
     background-size: cover;
    background-repeat: no-repeat;
    
}
#head h1{
    text-align: center;
    padding-top: 160px;
    font-size: 80px;
    color: whitesmoke;
}

.card{
    background-color: lightblue;
}
table {
    border: 1px solid black;
    margin: auto;
    width: 70%;
    border-collapse: collapse;
    background-color: rgb(236, 244, 248);
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
   
    
  }
  th {
    background-color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
   
  }
  #book-btn{
    background-color: #4589D7;
    color: white;
  }
  
  .footer{
    height: 440px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #013a94, #011638);
  }
  
  #footer-logo{
    display: flex;
  }
  #footer-logo img{
    height: 40px;
    width: 40px;
    margin-top: 75px;
    margin-left: 60px;
  }
  #footer-logo h1{
    color: #fff;
    font-size: 30px;
    margin-top: 80px;
  }
  .footer-col1 p{
    color: #fff;
    font-weight: 700;
    margin-left: 70px;
    margin-right: 40px;
    margin-top: 20px;
  }
  .footer-cont{
    display: flex;
    justify-content: space-evenly;
  }
  .footer-col1{
    height: 400px;
    width: 400px;
  }
  .footer-col2{
    height: 400px;
    width: 300px;
  }
  .footer-col2 h2{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .footer-blog-img img{
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .footer-blog-title h6{
    color: #fff;
    margin-top: 10px;
  }
  .footer-blog-title p{
    color: #fff;
    margin-top: -10px;
  }
  .footer-blog-details{
    display: flex;
  }
  .footer-col3{
    height: 400px;
    width: 300px;
  }
  .footer-col3 h2{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .tags{
    margin-left: 20px;
  }
  .tags a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #000;
    display: block;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
    transition: 0.5s;
  }
  .tags a:hover{
    background-color: #fff;
    color: #000;
  }
  .footer-col4{
    height: 400px;
    width: 300px;
  }
  .footer-col4 h2{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .contact-details{
    display: flex;
    margin-bottom: 20px;
  }
  .contact-details h3{
    font-size: 19px;
    color: #fff;
  }
  .contact-details i{
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
    margin-right: 10px;
    opacity: 80%;
  }
  .footer-end{
    height: 50px;
    width: 100%;
    background-color: #010e24;
    display: flex;
    justify-content: space-between;
  }
  .footer-end p{
    color: #d0d3d9;
    font-size: 13px;
    margin-left: 100px;
    padding-top: 8px;
  }
  .footer-nav{
    margin-top: 10px;
  }
  .footer-nav a{
    text-decoration: none;
    color: #d0d3d9;
    text-transform: uppercase;
    margin-right: 80px;
  }
  .footer-nav a:hover{
    color: #fff;
  }
  .links{
    margin-left: 60px;
  }
  .links i{
    color: #fff;
    margin-left: 10px;
    border: 1px solid #000;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
  }
  .mob-trip-category{
    display: none;
  }
  .mob-nav{
    display: none;
  }